In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('./modified_placement_data.csv')

In [6]:
df.head()

  cgpa     iq placement
0  6,8  123.0       Yes
1  5,9  106.0        No
2  5,3  121.0        No
3  7,4  132.0       Yes
4  5,8  142.0        No